<p id="notice"><%= notice %></p>

<h1>People</h1>

<%= button_to 'PARSE', {action: 'get_data', remote: true} %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Country</th>
      <th>Credential</th>
      <th>Earned</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.city %></td>
        <td><%= person.country %></td>
        <td><%= person.credential %></td>
        <td><%= person.earned %></td>
        <td><%= person.status %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
